@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

:root {
  --main-bg: #212121;
}

* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
}
